.vscode
__pycache__
_build/
build/
*.egg-info
dist/

logs/
checkpoints/
demonstrations/cache/
demonstrations/data/

f16trace.csv

results/
scripts/
*process_log*.txt
evaluate*.txt
tmp*.txt
cache/
plots/
issues/

train_scripts/D2D/trys/
train_scripts/disc/evaluate/easy/
train_scripts/disc/evaluate/medium2/
train_scripts/disc/evaluate/hard/
train_scripts/disc/evaluate/results/
train_scripts/disc/plots/
train_scripts/disc/TODOs.md

train_scripts/reward_norm/results/